<div class="container-fluid px-4 py-5 my-5 text-center">
	<div class="lc-block mb-4">
		<div editable="rich">
			<h2 class="display-2 fw-bold">Level up your <span class="text-primary">Garage!</span></h2>
		</div>
	</div>
	<div class="lc-block col-lg-6 mx-auto mb-5">
		<div editable="rich">
			<p class="lead">Check out new cars here at XYZ Cars!</p>
		</div>
	</div>
	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button" routerLink="/list">Cars List</a>	</div>
	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
		<img class="img-fluid" src="../../assets/Images/banner.jpg" width="60%" height="783" srcset="" sizes="" alt="">
	</div>
</div>
<router-outlet></router-outlet>