* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{ /*Selextor*/
    background: black;  /* Declaration */
    color: #f1f1f1;
    position: fixed;
    top: 0;
    visibility: show; /* Visibility = Property, Show is Value  */
    width: 100%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease .5s;
    box-shadow: 0px 0px 5px black;
    text-decoration: none;
    overflow: scroll;
    z-index: 999; 
}

.header img {
    visibility: show;
    height: 60px;
    float: left;
}

.header b {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 7px;
    margin-top: 14px;
    float: left;
    font-size: 25pt;
}

.header a {
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 11px;
    margin-top: 14px;
    float: right;
    font-size: 15pt;
    margin-right: 15px;
}

.header a:hover {
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    text-decoration: underline white 3px;
    padding: 6px 7px;
    margin-top: 14px;
    transition: all ease .5s;
}

.banner {
    background-image: url("../img/blur.png");
    background-size: auto;
    background-attachment: fixed;
    position: relative;
    background-position: center 0px;
    background-color: white;
    margin-top: 60px;
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-wrap: nowrap;
    display: block;
}

.banner-image {
    
}

.banner-text {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 175px;
    color: black;;
}

.html, .net, .office, .java {
    display: block;
    float: right;
    margin-right: 110px;
    padding: 15px;
    max-width: fit-content;
    width: 25%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.java {
    padding: 18px;
}

.java img {
    width: 260px;
}

.java h1 {
    position: relative;
    top: 9px;
}

.java p {
    position: relative;
    top: 18px;
}

.java a {
    position: relative;
    top: 45px;
    color: white;
    border: 3px solid black;
    background-color: rgb(102,102,102);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.java a:hover {
    color: black;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.net {
    border: 10pt;
    padding: 18px;

}

.net img {
    width: 300px;
}

.net h1 {
    position: relative;
    top: 9px;
}

.net p {
    position: relative;
    top: 18px;
}

.net a {
    position: relative;
    top: 45px;
    color: white;
    border: 3px solid black;
    background-color: rgb(102,102,102);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.net a:hover {
    color: black;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.office {
    margin-left: 10px;
    border: 10pt;
    padding: 18px;
}

.office img {
    width: 260px;
}

.office h1 {
    position: relative;
    top: 9px;
}

.office p {
    position: relative;
    top: 18px;
}

.office a {
    position: relative;
    top: 45px;
    color: white;
    border: 3px solid black;
    background-color: rgb(102,102,102);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.office a:hover {
    color: black;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.html {
    margin-left: 10px;
    border: 10pt;
    padding: 18px;
}

.html img {

}

.html h1 {
    position: relative;
    top: 9px;
}

.html p {
    position: relative;
    top: 18px;
}

.html a {
    position: relative;
    top: 45px;
    color: white;
    border: 3px solid black;
    background-color: rgb(102,102,102);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.html a:hover {
    color: black;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
}
