* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.banner {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center 0px;
    margin-top: 0px;
    height: 1076px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-wrap: nowrap;
    display: block;
}

#heroVideo {
  position: relative;
  right: 0;
  top: 0;
  min-width: 100%; 
  opacity: 0.8;
  overflow-wrap: nowrap;
  background-position: center 0px;
  size: cover;
}

.banner-text {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 0px;
    color: black;;
    animation: fadeIn 2s;
    transform: translateY(150px);
    transform: translateY(0px);
    z-index: 900; 
    padding: 20px;
    margin-top: -660px;
    background-color:rgba(225, 225, 225, 0.8);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.history { /* PLEASE USE THIS FOR THE HOMEPAGE OR ELSE YOU WILL DIE*/
}

.history h1, .history p {
    padding-left: 45%;
    display: flex;  
    flex-wrap: wrap;
    position: relative;
    left: -27px;
    top: 129px;
    margin-right: 37px;
    margin-bottom: -70px;
    
}

.history h1 {
    font-size: 50px;
}

.history p {
    top: 219px;
    font-size: 24px;
}

.history img { /* ENDS HERE */
    margin-left: 80px;
    border: 5px solid black;
    box-shadow: 999px black;
    display: flex;  
    position: relative;
    top: -49px;
}

.hero {
    background-image: url("../img/intrams.png");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center 0px;
    background-color: white;
    margin-top: 60px;
    height: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-wrap: nowrap;
    display: block;
}

.hero-text {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 350px;
    color: black;;
}

.founder {
    background-color: #7ba4c5;
    margin-top: 0px;
    height: 548px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.founder h1, .founder p {
    padding-left: 43%;
    display: flex;  
    flex-wrap: wrap;
    position: relative;
    left: -111px;
    top: 129px;
    margin-right: 37px;
    margin-bottom: -70px;
}

.founder h1 {
    font-size: 50px;
}

.founder p {
    top: 219px;
    font-size: 23px;
}

.founder img { /* ENDS HERE */
    margin-left: 80px;
    border: 5px solid black;
    box-shadow: 999px black;
    display: flex;  
    position: relative;
    top: -49px;
    left: 110px;
}

.gallery {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 23px;
    margin-top: 159px;
}

.gallery2 img {
    margin-top: 55px;
    display: block;
    float: right;
    margin-right: 110px;
    width: 25%;
    text-align: center;
    border: 10px solid rgb(112, 112, 112);
    max-width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 35px;
    z-index: 999;
}

.carousel{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: red;
    z-index; 999
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.title {
    color: #f2f2f2;
    font-size: 15px
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.caption {
    color: #f2f2f2;
    font-size: 15px
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color; #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
