* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.banner {
    background-image: url("../img/blur.png");
    background-size: auto;
    background-attachment: auto;
    position: relative;
    background-position: center 0px;
    background-color: white;   
    max-width: 100%;
    margin-top: 0px;
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-wrap: nowrap;
    display: block;
}

.banner-text {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 230px;
    color: black;;
    animation: fadeIn 2s;
}

.sitemap img {
    max-width: 100%;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}