* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.banner {
    background-image: url("../../img/team.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center 0px;
    background-color: white;
    margin-top: 0px;
    height: 460px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-wrap: nowrap;
    display: block;
}

.banner-image {
    background-image: url("../../img/java1.png");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center 0px;
    background-color: white;
    margin-top: 0px;
    height: 460px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-wrap: nowrap;
    display: block;
}

.banner-text {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: 160px;
    color: white;;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.history { /* PLEASE USE THIS FOR THE HOMEPAGE OR ELSE YOU WILL DIE*/

}

.history h1, .history p {
    padding-left: 45%;
    display: flex;  
    flex-wrap: wrap;
    position: relative;
    left: -27px;
    top: 129px;
    margin-right: 37px;
    margin-bottom: -70px;
}

.history h1 {
    font-size: 50px;
}

.history p {
    top: 219px;
    font-size: 24px;
}

.history img { /* ENDS HERE */
    margin-left: 80px;
    border: 5px solid black;
    box-shadow: 999px black;
    display: flex;  
    position: relative;
    top: -49px;
}

.ticket {
    margin-top: 40px;
    display: inline-block;
    white-space: nowrap;
    margin-left: 180px;
    padding: 20px;
}

.ticket p {
    margin-top: 15px;
}

button {
    margin-left: 513px;
    margin-top: 15px;
    height: 35px;
    width: 90px;
}

.otherinfo {
    margin-top: 40px;
    float: right;
    display: inline-block;
    word-wrap: break-word;
    overflow: bottom;
    margin-right: 300px;
    size: 150px;
}

label {
    margin-top: 300px;
}

input {
    width: 209px;
    padding: 12px;
    margin-top: 8px;
}

textarea {
    height: 300px;
    width: 600px;
    margin-top: 9px;
}

.otherinfo img {
    max-width: 24%;
    float: left;
    padding: 1px px 9px; 
}

.otherinfo {
    padding: 15px;
}

.otherinfo a {
    display: block;
    margin-top: 0px;

}

.otherinfo email {
    margin-top: 0px;
    padding-top: 20px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}