*{
    color:black;
  }
.progress-bar1{
    width: 20%;
}
.progress-bar2{
    width: 40%
}
.progress-bar3{
    width: 60%
}
.progress-bar4{
    width: 80%
}
.progress-bar5{
    width: 100%
}
.progress-bar6{
    width: 50%
}
.undraw-posting-photo-img{
    width: 25rem;
}

.chart-area, .chart-pie {
    overflow-y: auto;
}
.card-bodyrider{
    height: 94.5%;
}

.assignbtn{
    background-color: #22A699; 
     color: #f0f0f0;
}
